@model RegisterViewModel

@{
    ViewData["Title"] = "Register Page";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="loginContainer">

    <form class="loginForm bg-light d-block" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Email" hidden />
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input class="form-control" asp-for="FirstName">
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input class="form-control" asp-for="LastName">
        </div>
        <div class="mb-3">
            <label asp-for="City" class="form-label"></label>
            <input class="form-control" asp-for="City">
        </div>
        <div class="mb-3">
            <label asp-for="Gender" class="form-label"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-select">
                <option value="">Please Select</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Birthday" class="form-label"></label>
            <input min="1950-01-01" max="2010-12-31" class="form-control" asp-for="Birthday">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

