@{
    ViewData["Title"] = "Email Confirmed";
}

<style>
    .ConfirmationContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .card-text {
        margin-top: 1rem;
    }

    .btn {
        margin-top: 1.5rem;
        padding: 0.75rem 1.5rem;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .success-message {
        color: green;
        font-weight: bold;
        margin-top: 1rem;
    }

    .error-message {
        color: red;
        font-weight: bold;
        margin-top: 1rem;
    }
</style>

<div class="ConfirmationContainer">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Email Verified!</h1>
            <p id="success-message" class="success-message" >You've successfully verified your email, press <a asp-action="Index" asp-controller="Home">here</a> to return to home</p>
        </div>
    </div>
</div>



