@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div class="loginContainer">
    <form class="loginForm bg-light" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input class="form-control" asp-for="Email">
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>

    </form>


</div>
