@model PostPageViewModel
<link href="~/css/createpost.css" rel="stylesheet" />

<style>


    .emojiDropdown{
        width:200px;
    }


    .emoji{
        display:inline-block;
        font-size:25px;
    }







</style>

<script src="\js\emoji-list.js"></script>
<div class="overlay" id="overlay">
    <div class="postContainer " >
        <div class="wrapper" >
            <section class="post" >
                <header>Create Post</header>
                <form method="post" asp-action="Create" asp-controller="Post" enctype="multipart/form-data" >
                    <div class="content">
                        <img src="~/icons/logo.png" alt="logo">
                        <div class="details">
                            <p>[Name]</p>
                            <div class="privacy">
                                <i class="fas fa-user-friends"></i>
                                <span>Friends</span>
                                <i class="fas fa-caret-down"></i>
                            </div>
                        </div>
                    </div>
                    <textarea asp-for="PostViewModel.Content" placeholder="What's on your mind, [Name]?" spellcheck="false"></textarea>
                    <div class="theme-emoji" >
                        <img src="~/icons/theme.svg" alt="theme">
                        <div class="dropend" >
                            <button style="background-color: white;" data-bs-toggle="dropdown">
                                <img src="~/icons/smile.svg" alt="smile">
                            </button>
                            <ul class="dropdown-menu emojiDropdown">
                            </ul>
                        </div>
                    </div>
                    <div class="options">
                        <p>Add to Your Post</p>
                        <ul class="list">
                            
                            <li><label for="MediaUpload"><img src="~/icons/gallery.svg" alt="gallery"></label></li>
                            <input id="MediaUpload" asp-for="PostViewModel.Files" style="display:none;" />
                            <li><img src="~/icons/tag.svg" alt="gallery"></li>
                            <li><img src="~/icons/emoji.svg" alt="gallery"></li>
                        </ul>
                    </div>
                    <button>Post</button>
                </form>
            </section>
            <section class="audience">
                <header>
                    <div class="arrow-back"><i class="fas fa-arrow-left"></i></div>
                    <p>Select Audience</p>
                </header>
                <div class="content">
                    <p>Who can see your post?</p>
                    <span>Your post will show up in News Feed, on your profile and in search results.</span>
                </div>
                <ul class="list">
                    <li>
                        <div class="column">
                            <div class="icon"><i class="fas fa-globe-asia"></i></div>
                            <div class="details">
                                <p>Public</p>
                                <span>Anyone on or off Facebook</span>
                            </div>
                        </div>
                        <div class="radio"></div>
                    </li>
                    <li class="active">
                        <div class="column">
                            <div class="icon"><i class="fas fa-user-friends"></i></div>
                            <div class="details">
                                <p>Friends</p>
                                <span>Your friends on Facebook</span>
                            </div>
                        </div>
                        <div class="radio"></div>
                    </li>
                    <li>
                        <div class="column">
                            <div class="icon"><i class="fas fa-user"></i></div>
                            <div class="details">
                                <p>Specific</p>
                                <span>Only show to some friends</span>
                            </div>
                        </div>
                        <div class="radio"></div>
                    </li>
                    <li>
                        <div class="column">
                            <div class="icon"><i class="fas fa-lock"></i></div>
                            <div class="details">
                                <p>Only me</p>
                                <span>Only you can see your post</span>
                            </div>
                        </div>
                        <div class="radio"></div>
                    </li>
                    <li>
                        <div class="column">
                            <div class="icon"><i class="fas fa-cog"></i></div>
                            <div class="details">
                                <p>Custom</p>
                                <span>Include and exclude friends</span>
                            </div>
                        </div>
                        <div class="radio"></div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<script>


    const container = document.querySelector(".postContainer"),
        privacy = container.querySelector(".post .privacy"),
        arrowBack = container.querySelector(".audience .arrow-back");
    const modalBackground = document.getElementById('overlay');

    function openPopup() {
        document.getElementById("overlay").style.display = "flex";
    }
    privacy.addEventListener("click", () => {
        container.classList.add("active");
    });

    arrowBack.addEventListener("click", () => {
        container.classList.remove("active");
    });

    modalBackground.addEventListener('click', (e) => {
        if (e.target === modalBackground) {
            modalBackground.style.display = 'none';
        }
    });
</script>
<script src="\js\handleEmojis.js"></script>

